/*navbar*/
.navbar-container {
    height: 4rem;
}

#navbar {
    background-color: var(--bs-gray-100);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

nav button:has(.fa-solid) {
    background: transparent;
    border: none;
}

nav button .fa-solid {
    font-size: 2rem;
    padding: 0.25rem 0.5rem !important;
    border: 1px solid black;
    border-radius: 0.5rem;
}

nav a {
    text-decoration: none;
}

/*search*/
input[type="search"] {
    background-color: var(--bs-light) !important;
}

#search-bar > a {
    border-color: black !important;
    color: black !important;
}

.category {
    display: none;
}

.category__items > li {
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    color: var(--bs-dark);
}

.category__items:first-child > li {
    border: none;
    margin-top: 0.5rem;
}

.category__items:hover > li {
    background-color: var(--bs-gray-500);
}

#search-bar-sm {
    left: 0.25rem;
    right: 0.25rem;
    top: 0.5rem;
    bottom: 0.5rem;
    z-index: 2000;
    background: var(--bs-light);
}

/*user*/
.account {
    padding: 1rem 1rem 0 1rem;
}

#user-extend {
    width: 250px;
}

#user-extend,
#login-request {
    display: none;
    position: absolute;
    right: 0;
    background: var(--bs-gray-200);
}

#user-extend a,
#login-request a {
    color: var(--bs-dark);
}

#user-extend a > li,
#login-request div > button {
    padding: 0.5rem 1rem;
}

#user-extend a > li:hover,
#login-request div > button:hover{
    background-color: var(--bs-gray-400);
}

/*sidebar*/
#sidebar {
    background: #f0f0f0;
    min-width: 300px;
    max-width: 300px;
    font-weight: 100;
}

#sidebar > aside > a > h4 {
    font-size: 2rem;
}

.current-page {
    background: var(--bs-dark) !important;
    color: var(--bs-light) !important;
}

#sidebar > aside > a > div {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin: 1.5rem 2rem;
    border-radius: var(--bs-border-radius-xl);
    transition: background 0.2s, color 0.2s;
}

#sidebar > aside > a {
    text-decoration: none;
    color: inherit;
}

#sidebar > aside > a:hover > div {
    background: var(--bs-gray-dark);
    color: var(--bs-light);
}

/*footer*/
#footer {
    padding: 1.5rem;
    background: var(--primary-color);
    font-weight: 500;
}

@media (min-width: 768px) {
    .navbar-container {
        height: fit-content;
    }

    #navbar {
        position: initial;
    }

    #search-bar {
        width: 50%;
        white-space: nowrap;
    }
}