# Thư mục node_modules
node_modules/

# Thư mục build hoặc dist
dist/
build/

# Tệp cấu hình hệ thống
.DS_Store
Thumbs.db

# Tệp log
*.log

# Tệp tạm thời của IDE
*.swp
*.swo
.vscode/
.idea/

# Tệp tạm thời khác
*.tmp
*.temp

# Thư mục cache
.cache/

# Các thư mục và tệp khác có thể có trong dự án
bower_components/
