/*component*/
/*navbar*/
#navbar {
    background-color: var(--bs-dark);
}

nav button .fa-solid {
    border-color: var(--bs-light)!important;
    color: var(--bs-light)!important;
}
#search-bar > a {
    border-color: var(--bs-light)!important;
    color: var(--bs-light)!important;
}
.category__items > li {
    color: var(--bs-light)!important;
    border-color: var(--bs-gray);
}

#search-bar-sm {
    background-color: var(--bs-dark);
}

#user-extend,
#login-request button {
    background-color: var(--bs-gray-700);
}
#user-extend a,
#login-request div button {
    color: var(--bs-light);
}

#user-extend a li:hover {
    background-color: var(--bs-gray-600);
}

/*sidebar*/
#sidebar, .flex-fill {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
}

#sidebar {
    border-right: 1px solid var(--bs-light) !important;
}

.current-page {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
}

/*footer*/
#footer {
    background-color: var(--secondary-color) !important;
}

#footer a {
    color: black !important;
}

/*index*/
.element,
.items {
    background-color: #151515 !important;
    color: var(--bs-light) !important;
    border-color: var(--bs-light) !important;
}

.element:hover {
    background-color: var(--bs-gray) !important;
}

.items__head {
    color: var(--bs-light) !important;
}

.items:hover {
    background-color: var(--bs-gray-800) !important;
}

#login-panel input:not([type="submit"]){
    background-color: var(--bs-light)!important;
}

#login-panel

/*đơn hàng*/
table.table {
    --bs-table-color: #fff;
    --bs-table-bg: #212529;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color)
}

table.table th {
    background-color: var(--secondary-color) !important;
}
table.table tr:nth-child(odd) {
    background-color: black !important;
}
table.table tr:hover {
    background-color: #707070!important;
}
table.table th, td {
    color: var(--bs-light)!important;
}

/*cài đặt*/
#theme-btn {
    color: var(--bs-gray-dark);
    background: var(--bs-light);
}

/*trợ giúp*/
.danh-muc-items {
    border: 1px solid var(--bs-light);
}

.accordion-header > button {
    background-color: var(--primary-color)!important;
    color: var(--bs-light) !important;
}

.accordion-header > .collapsed {
    background: var(--secondary-color) !important;
}

.accordion-body {
    background-color: var(--bs-gray-800)!important;
    color: var(--bs-light) !important;
}

form input,
form textarea {
    background-color: var(--bs-gray-800)!important;
    color: var(--bs-light) !important;
}

form input[type="submit"] {
    border-color: var(--bs-light);
}