.main-content button {
    padding: 10px 20px;
}

.main-content button:hover {
    background: var(--secondary-color);
}

.main-content a {
    /*float: right;*/
    margin-bottom: 1rem;
}

table {
    min-width: 650px !important;
}

section {
    width: calc(88vw);
    padding-right: 0;
    margin-right: 0!important;
}
.data {
    overflow-x: auto;
}

td:first-child,
th:first-child {
    text-align: center;
    vertical-align: middle;
}

input[type="checkbox"]{
    --btn-size: 1.3rem;
    height: var(--btn-size);
    width: var(--btn-size);
}

@media (min-width: 768px) {
    section {
        width: calc(90vw - 300px);
    }
}