<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- test -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<footer class="row row-cols-1 row-cols-md-2 mx-auto px-md-5 container text-light">
    <div class="col text-center text-md-start">
        <p>
            <i class="fa-solid fa-location-dot me-3"></i>
            Trường Đại Học Giao Thông Vận Tải
        </p>
        <address>Hà Nội, Việt Nam</address>
        <p>
            <i class="fa-solid fa-phone-volume me-3"></i>SDT:
            <a href="tel:+84241234567" class="text-dark">+84241234567</a>
        </p>
        <p>
            <i class="fa-solid fa-envelope me-3"></i>Email:
            <a href="mailto:helloworld@gmail.com" class="text-dark">helloworld@gmail.com</a>
        </p>
    </div>
    <div class="col text-center text-md-start">
        <h4>Liên hệ</h4>
        <p>Bạn có thể liên hệ với chúng tôi qua những trang sau</p>
        <p class="h5">
            <a href="" class="text-dark"><i class="fa-brands fa-facebook"></i></a>
            <a href="" class="text-dark"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="text-dark"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
    </div>
</footer>
</body>

</html>