<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<nav class="border-bottom py-2 mx-1 position-relative">
    <div class="d-flex justify-content-between align-items-center">
        <button>
            <i class="fa-solid fa-bars d-md-none" onclick="activeCategory()"></i>
        </button>
        <div id="search-bar" class="d-flex ms-auto mx-sm-auto">
            <input type="search" name="search" id="search" placeholder="Tìm kiếm"
                   class="rounded ps-2 py-1 me-1 flex-fill d-none d-sm-block">
            <a href="" class="border p-1 rounded border-2 d-none d-sm-block">Tìm kiếm</a>
            <button class="d-block d-sm-none" onclick="openSearchbar()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <button>
            <i class="fa-solid fa-circle-half-stroke" onclick="darkMode()"></i>
        </button>
        <div id="user-account">
            <button onclick="activeAccount()">
                <i class="fa-solid fa-user"></i>
            </button>
            <!--mở rông người dùng-->
            <div id="user-extend">
                <div class="account">
                    <h5></h5>
                    <h6></h6>
                </div>
                <hr>
                <ul class="list-unstyled">
                    <a href="">
                        <li><i class="fa-brands fa-google"></i>
                            Tài khoản của bạn
                        </li>
                    </a>
                    <a href="" onclick="sign_out()">
                        <li><i class="fa-solid fa-right-from-bracket"></i>
                            Đăng xuất
                        </li>
                    </a>
                </ul>
            </div>
            <div id="login-request" class="text-end">
                <div>
                    <button onclick="sign_in()">Đăng nhập / Đăng kí</button>
                </div>
            </div>
        </div>
    </div>
    <!--    chuyên đến trang mới khi mà màn hình nhỏ-->
    <div class="category">
        <ul class="list-unstyled">
            <a href="index.html" class="category__items">
                <li>Trang chủ</li>
            </a>
            <a href="HoaDon.html" class="category__items">
                <li>Quản lý hóa đơn</li>
            </a>
            <a href="ThongKe.html" class="category__items">
                <li>Thống kê số liệu</li>
            </a>
            <a href="SanPham.html" class="category__items">
                <li>Sản phẩm</li>
            </a>
            <a href="TrungTamTroGiup.html" class="category__items">
                <li>Trợ giúp</li>
            </a>
            <a href="CaiDat.html" class="category__items">
                <li>Cài đặt</li>
            </a>
        </ul>
    </div>

    <!--thanh tìm kiếm khi mà màn hình thu nhỏ-->
    <div id="search-bar-sm"
         class="d-flex position-absolute justify-content-between align-items-center d-sm-none d-none">
        <button onclick="exitSearchbar()">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <input type="search" name="search" id="search-sm" placeholder="Tìm kiếm"
               class="rounded ps-2 py-1 me-1 flex-fill">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</nav>
</body>
</html>