<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- test -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
</head>

<body>
<aside>
    <a href="./index.html">
        <h4 class="mt-4 mb-5 text-center">
            <i class="fa-solid fa-house text-theme"></i>
            HelloWorld
        </h4>
    </a>

    <div onclick="initMain('Main')" id="Main" class="current-page">Trang Chủ</div>
    <div onclick="initMain('HoaDon')" id="HoaDon">Hóa đơn</div>
    <div onclick="initMain('ThongKe')" id="ThongKe">Thống kê</div>
    <div onclick="initMain('SanPham')" id="SanPham">Hàng hóa</div>
    <hr class="mx-4">
    <div onclick="initMain('TrungTamTroGiup')" id="TrungTamTroGiup">Trung Tâm Trợ Giúp</div>
    <div onclick="initMain('CaiDat')" id="CaiDat">Cài đặt</div>
</aside>
</body>

</html>