<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- test -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
</head>

<body>
<aside class="d-none d-md-block">
    <h4 class="mt-4 mb-5 text-center">
        <i class="fa-solid fa-house text-theme"></i>
        HelloWorld
    </h4>
    <a href=""><div class="rounded-4 current-page">Trang Chủ</div></a>
    <a href=""><div class="rounded-4">Hóa đơn</div></a>
    <a href=""><div class="rounded-4">Thống kê</div></a>
    <a href=""><div class="rounded-4">Hàng hóa</div></a>
    <hr class="mx-4">
    <a href=""><div class="rounded-4">Trung Tâm Trợ Giúp</div></a>
    <a href=""><div class="rounded-4">Cài đặt</div></a>
</aside>
</body>

</html>