:root {
    --primary-color: #00b0f0;
    --secondary-color: #0088ba;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    min-height: 70vh;
}

.title,
.description {
    margin: 1rem 2rem;
}

.title {
    font-size: 3rem;
}

.main-content {
    margin: 3rem 2rem;
}

.bg-theme {
    background: var(--primary-color);
}

.text-theme {
    color: var(--primary-color);
}

.active {
    display: block!important;
}