:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --theme-color: #0084ff;
    --text-white: #fff;
    --hover-color: #0056b3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    /* defaul = 16px */
    font-size: 62.5%;
    /* = 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* main */
.main {
    flex: 1;
}

.main__title {
    font-size: 3em;
    display: flex;
    justify-content: space-between;
    width: 90%;
    line-height: 1.7em;
    margin: 20px auto;
}

.main__title a {
    font-size: 0.5em;
    padding: 0 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--theme-color);
    color: var(--text-white);
}