/* css anỳ cho sidebar, navbar, footer */
body {
    position: relative;
}

/* header */
header {
    position: fixed !important;
}

#sidebar {
    display: none;
}

/* main */
main {
    display: flex;
    padding-top: 7em;
    min-height: 90vh;
    gap: 2em;
}